[submodule "postgrpc"]
	path = postgrpc
	url = https://github.com/boilerplatter/postgrpc
	ignore = dirty
[submodule "Scribe"]
	path = Scribe
	url = https://github.com/DCS-gRPC/Scribe.git
	ignore = dirty
